# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

.idea/
./utils/cell_ocv.pyc
#./testdata/*.csv


# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/
cellpy/utils/testscripts_ocv_rlx/lmfit_example.py
cellpy/parametres/_cellpy_prms_devel.ini
# cellpy/data_ex
# cellpy/outdata
# cellpy/indata
# cellpy/databases

*.res
*.csv
.swp
*.mpr
*.mpt
dev_utils/BioLogic.py_tmp
dev_data/biologic/Bec_03_02_C20_delith_GEIS_Soc20_steps_C02 _mpt_commented.xlsx
dev_data/biologic/Bec_03_02_C20_delith_GEIS_Soc20_steps_C02_test_out_commented.xlsx
dev_data/20160306_snx001_10_cc_01.h5
testdata/hdf5/20160306_snx001_10_cc_01.h5
