# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

.idea/
old/
bin/
docs/autoapi/
_old_docs/autoapi/
bin/mdbtools-win
cellpy/utils/tmp
tmp/

# testdata that changes when running tests
# Remark! You might need to comment out this the first time you run tests

# testdata/hdf5/20160805_test001_45_cc.h5
#testdata/hdf5/20160805_test001_47_cc.h5
#testdata/hdf5/20160306_snx001_10_cc_01.h5
# testdata/batchfiles/cellpy_batch_test.json

dev_data/
dev_data/tmp
dev_data/bugfixing

cellpy/readers/instruments/tmp.dat

examples/trying_stuff.py
dev_utils/BioLogic.py_tmp

dev_utils/.ipynb_checkpoints
*.ipynb_checkpoints

# Distribution / packaging
.Python
env/
venv/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# My own notes
notes.md

cellpy/utils/testscripts_ocv_rlx/lmfit_example.py
cellpy/parametres/_cellpy_prms_devel.ini


*.py.bak
.swp

*.rej

sh.exe.stackdump
xdist/

.dotenv
.env
.pytest_cache/
cellpy_debug.lo*
out/20190403_cen59_04_rateGITT_01.h5
builds/
local/
cellpy_debug.log.2
test.nda
test.csv
dev_utils/batch_notebooks/out.png
settings.json
/testdata/batch_project/out/test*.*
/testdata/batch_project/data/raw/*.res
/testdata/db/cellpy.db
/testdata/db/excel.db
/cellpy.svg
/.nox/
/~$cellpy-environment.xlsx
/cellpy-environment.xlsx
/examples/cellpy batch utility/cellpy_batch_paper01.json
/examples/cellpy batch utility/data/cellpyfiles/*
/examples/cellpy batch utility/out/*
/docs/jupyter_execute/
/cellpy/utils/data/20160805_test001_45_cc.h5
/cellpy/utils/data/20160805_test001_45_cc_01.res
/cellpy/utils/data/20180418_sf033_4_cc.h5
/cellpy/utils/data/20231115_rate_cc.h5
/cellpy/utils/data/aux_multi_x.res
/cellpy/utils/data/pec.csv
/import.cvs
