repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.2 # Use the latest stable version of Ruff
    hooks:
    -   id: ruff # Run the linter
        args: [--fix] # Optional: automatically fix linting issues
    -   id: ruff-format # Run the formatter
