
include AUTHORS.rst

include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include cellpy/logging.json
recursive-include cellpy/parameters *_default.conf
recursive-include cellpy/utils/data/raw  *.res
recursive-include cellpy/utils/data *.h5
recursive-include cellpy/readers/instruments/configurations *.yml *.yaml *.jsn *.json *.conf

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

prune dev_data
prune dev_utils
prune testdata
prune tests
prune examples
prune recipe
prune .pytest_cache
prune .github

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
