[tool.pytest.ini_options]
minversion = "6.0"
addopts = "--durations=0 -v -m \"not slowtest and not smoketest and not unimportant and not unfinished and not onlylocal\""
markers = [
    "slowtest: marks tests as slow (deselect with '-m \"not slow\"')",
    "serial",
]



