watchdog>=0.8.3
Sphinx>=1.5.5
cryptography>=1.8.1
ruamel.yaml==0.17.15
pip>=9.0.1
wheel>=0.29.0
flake8>=3.3.0
coverage>=4.3.4
Sphinx>=1.5.5
pytest>=3.0.7
twine>=1.9.1
numpy>=1.16.4
python-box
pytest-benchmark
pytest-timeout
invoke
requests
cookiecutter
tqdm

