PyGithub>=1.43
Sphinx>=1.5.5
black
build
bumpver
cookiecutter
coverage>=4.3.4
cryptography>=1.8.1
dateparser
decorator
fabric
flake8>=3.3.0
invoke
ipykernel
kaleido==0.1.*
lmfit
matplotlib>=1.5.3
nox
numpy>=2.0
openpyxl
pandas
pandoc
pint
pip>=9.0.1
plotly
pytest-benchmark
pytest-timeout
pytest>=3.0.7
python-box
python-dotenv
requests
requests
rich
ruamel.yaml
scipy
seaborn
sqlalchemy-access
sqlalchemy>=2.0.0
tables
tqdm
twine>=1.9.1
watchdog>=0.8.3
wheel>=0.29.0
xlrd
