openpyxl
matplotlib>=1.5.3
cryptography>=1.5.2
click>=6.6
lmfit>=0.9.7
setuptools>=35.0.1
pandas>=0.23.0
ruamel.yaml==0.17.15
pyodbc>=4.0.16
python-box
PyGithub>=1.43
numpy>=1.16.4
pytest-benchmark
pytest-timeout
cookiecutter
tqdm
