watchdog>=0.8.3
Sphinx>=1.5.5
cryptography>=1.8.1
ruamel.yaml
pip>=9.0.1
wheel>=0.29.0
flake8>=3.3.0
coverage>=4.3.4
Sphinx>=1.5.5
pytest>=3.0.7
twine>=1.9.1
numpy>=1.16.4
python-box
pytest-benchmark
pytest-timeout
invoke
requests
cookiecutter
tqdm
sqlalchemy>=2.0.0
sqlalchemy-access
build
black
python-dotenv
pint
xlrd
openpyxl
matplotlib>=1.5.3
lmfit
scipy
pandas<=2.1
tables
PyGithub>=1.43
plotly
kaleido==0.1.*
seaborn
wheel
decorator
fabric
nox
rich
pandoc
bumpver
dateparser
ipykernel
requests
