name: Run pytest on linux (conda)
on:
  push:
    branches:
      - "**"
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  Install-miniconda-and-run-pytest:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12"]
    steps:
      - uses: actions/checkout@v6
      - uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          activate-environment: cellpy_dev
          environment-file: github_actions_environment.yml
          python-version: ${{ matrix.python-version }}

      - name: Conda info
        run: conda info

      - name: Conda list
        run: conda list

      - name: Install mdbtools
        run: |
          sudo apt-get update
          sudo apt-get install -y mdbtools

      - name: pytest
        run: pytest

      - name: pytest with nbmake (cellpy_batch_processing)
        run: |
          python -m pip install -e .
          python -m pip install kaleido==0.1.*
          python -m ipykernel install --user --name=cellpy_dev
          pytest -v --nbmake  --nbmake-timeout=3600 --nbmake-kernel=cellpy_dev "examples/cellpy batch utility/cellpy_batch_processing.ipynb"
